<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzX6JyrKe0W4J2kR-uBfoOFcHaSof8cnE</string>
	<key>GCM_SENDER_ID</key>
	<string>527744312575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.referalApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>referal2-97578</string>
	<key>STORAGE_BUCKET</key>
	<string>referal2-97578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527744312575:ios:620e3a7ccf4970e5be98ca</string>
</dict>
</plist>