<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApDn06DwfcQM3_i_q0FDuY9oTlGtoVUrg</string>
	<key>GCM_SENDER_ID</key>
	<string>509459383593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pollsv2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>polls-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>polls-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509459383593:ios:942ca145aab208a46b6338</string>
</dict>
</plist>